/* theme https://coolors.co/134074-13315c-0b2545-8da9c4-eef4ed */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    width: 100%;

    .headerCta {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
}

.formContent {
    width: 100%;
    max-width: 40rem;
    padding: 3rem 0.5rem;

    .formMetaData {
        padding: 2rem 1.5rem;

        .formTitle {
            font-size: 2rem;
        }

        .formDesc {
            opacity: 0.6;
            font-size: 0.8rem;
        }
    }

    .questions {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0 1.5rem;

        .question {
            background-color: rgb(255, 255, 255, 0.03);
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 2rem;
            border-radius: 1rem;

            .quesNumber {
                font-size: 0.7rem;
                opacity: 0.5;
                color: var(--secondary-color);
            }

            .questionText {
                color: var(--secondary-color);
                font-size: 1.3rem;
                margin: 0 0 1rem 0;
            }

            .inputContainer {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .inputs {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                    label {
                        color: var(--secondary-color);
                        display: flex;
                        align-items: center;
                    }

                    input[type=checkbox],
                    input[type=radio] {
                        margin: 0 0.5rem 0 0;
                        width: 1rem;
                        height: 1rem;
                        accent-color: rgb(223, 122, 122);
                        color: rgb(223, 122, 122);
                    }

                    input[type=text] {
                        color: var(--secondary-color);
                        width: 100%;
                        background-color: var(--text-input-bg);
                        padding: 1rem 1.5rem;
                        border: none;
                        outline: none;
                        border-radius: 0.5rem;
                    }
                }
            }

        }
    }

    .deleteOrSubmitBtn {
        margin: 3rem 0 0 1.5rem;
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        align-items: center;
    }
}

.formDeletedOrSubmittedMsg {
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem;
    color: var(--secondary-color);
}

.loadingScreen {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}